[user]
  name = Kamil Mielnik
  email = kamil.adam.mielnik@gmail.com
[core]
  autocrlf = false
[alias]
  l = log -10 --oneline
  s = status
  a = add .
  co = checkout
  c = commit -m
  amend = commit --amend
  p = pull origin master
[http]
  sslVerify = true
[push]
  default = simple
[diff]
  tool = meld
[cola]
  spellcheck = false
