[Unit]
Description=CV - Next.js server

[Service]
ExecStart=bash /usr/bin/cv-start.sh
ExecStop=bash /usr/bin/cv-stop.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
