[Unit]
Description=CV - Next.js server

[Service]
ExecStart=bash /usr/bin/cv-start
ExecStop=bash /usr/bin/cv-stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
