[Unit]
Description=Scrabble Solver 2 - Next.js server

[Service]
ExecStart=bash /usr/bin/scrabble-solver-start
ExecStop=bash /usr/bin/scrabble-solver-stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
