[Unit]
Description=Scrabble Solver - backend

[Service]
ExecStart=bash /usr/bin/scrabble-solver-start.sh
ExecStop=bash /usr/bin/scrabble-solver-stop.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
